<style>
  .container{ width: 800px; justify-content: center; align-items:center; align-content: center;
  display: flex; flex-direction: column; }
</style>

<div class='container'>
  <label>Name: <strong>{{title}}.{{name}}</strong></label>
  <br />
  <strong>{{description}}</strong>
</div>